:root {
  --grid-cols: 1;
  --grid-rows: 1;

  --primary-dark: #2c2c2c;
  --primary-light: #F3F3F3;
  --secondary-light: #FEFEFE;
}

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  line-height: 1.2;
}

button,
input {
  width: 100%;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/*HEADER */

.header {
  padding: 20px 0;
}

.title {
  user-select: none;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 64px;
}

/*MAIN */
.layout {
  display: grid;
  place-items: center;

}

#main {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px none #000;
  width: 520px;
  height: 520px;
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.20);
}

#container {
  display: grid;
  grid-gap: 0px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);

}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.grid-item:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.20), 0 5px 5px rgba(0, 0, 0, 0.80);
}


#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 200px;
  position: absolute;
  bottom: 10%; /* Position at the bottom of #main */
  left: 50%;
  transform: translate(-50%, 20px); /* Center horizontally and add some vertical space */
}


button {
  padding: 10px 20px;
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
}

button.active {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

/*MEDIA QUERIES*/
@media (max-width: 1400px) {
  .title {
    font-size: 32px;
    
  }

 #main {
    justify-content: center;
  }
  #controls {
    position: absolute;
    bottom: 5%; /* Position at the bottom of #main */
    left: 50%;
    transform: translate(-50%, 20px); /* Center horizontally and add some vertical space */
  }
}

@media (max-width: 850px) {
  .title {
    font-size: 32px;
  }

  #container {
    width: 520px;
    height: 520px;
  }
  #controls {
    position: absolute;
    bottom: 5%; /* Position at the bottom of #main */
    left: 50%;
    transform: translate(-50%, 20px); /* Center horizontally and add some vertical space */
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 28px;
  }

  #controls {
    position: absolute;
    bottom: 5%; /* Position at the bottom of #main */
    left: 50%;
    transform: translate(-50%, 20px); /* Center horizontally and add some vertical space */
  }
  
  #container {
    width: 520px;
    height: 520px;
  }
}