:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --cell-size: 17px;
    /* Adjust the size of each cell as needed */
}
body{
    margin-top: auto;
    margin-bottom: auto;   
}
.layout{
    display: grid;
    place-items: center;
    height: 100vh;
}

#main {
    border: 1px solid #000;
}

#container {
    width: 512px;
    height: 512px;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: repeat(auto-fill, var(--cell-size));
    grid-template-columns: repeat(auto-fill, var(--cell-size));
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 1px none #ddd;
}
.grid-item:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 5px 5px rgba(0,0,0,0.23);
    
}